:host {
  height: 40rem;
  overflow-y: scroll;

  mat-card {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    mat-selection-list {
      width: 100%;
      padding-top: 2rem;
    }
  }
}
